nifi-templates/WebSocketClientExample.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description></description>
  <groupId>2f1c8f7c-0158-1000-adec-92ddd533ba72</groupId>
  <name>WebSocketClientExample</name>
  <snippet>
    <processGroups>
      <id>2f97a7b3-0158-1000-0000-000000000000</id>
      <parentGroupId>2f1c8f7c-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>2f8768e4-0158-1000-0000-000000000000</id>
          <parentGroupId>2f97a7b3-0158-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>138.8974609375</x>
            <y>205.0993194580078</y>
          </bends>
          <destination>
            <groupId>2f97a7b3-0158-1000-0000-000000000000</groupId>
            <id>2f8f87ab-0158-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>0</labelIndex>
          <name></name>
          <selectedRelationships>connected</selectedRelationships>
          <source>
            <groupId>2f97a7b3-0158-1000-0000-000000000000</groupId>
            <id>2f845053-0158-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>2f878739-0158-1000-0000-000000000000</id>
          <parentGroupId>2f97a7b3-0158-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>719.6368408203125</x>
            <y>205.0993194580078</y>
          </bends>
          <destination>
            <groupId>2f97a7b3-0158-1000-0000-000000000000</groupId>
            <id>2f8f87ab-0158-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>0</labelIndex>
          <name></name>
          <selectedRelationships>text message</selectedRelationships>
          <source>
            <groupId>2f97a7b3-0158-1000-0000-000000000000</groupId>
            <id>2f845053-0158-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>2f8c9c40-0158-1000-0000-000000000000</id>
          <parentGroupId>2f97a7b3-0158-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>141.99459838867188</x>
            <y>503.6838684082031</y>
          </bends>
          <destination>
            <groupId>2f97a7b3-0158-1000-0000-000000000000</groupId>
            <id>2f8c5c86-0158-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>2f97a7b3-0158-1000-0000-000000000000</groupId>
            <id>2f8b980f-0158-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>2f90f2ea-0158-1000-0000-000000000000</id>
          <parentGroupId>2f97a7b3-0158-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>725.0217895507812</x>
            <y>505.69775390625</y>
          </bends>
          <destination>
            <groupId>2f97a7b3-0158-1000-0000-000000000000</groupId>
            <id>2f8c5c86-0158-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>0</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>2f97a7b3-0158-1000-0000-000000000000</groupId>
            <id>2f8b980f-0158-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>2f91c014-0158-1000-0000-000000000000</id>
          <parentGroupId>2f97a7b3-0158-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>139.98068237304688</x>
            <y>341.56402587890625</y>
          </bends>
          <destination>
            <groupId>2f97a7b3-0158-1000-0000-000000000000</groupId>
            <id>2f8b980f-0158-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>0</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>2f97a7b3-0158-1000-0000-000000000000</groupId>
            <id>2f8f87ab-0158-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <controllerServices>
          <id>2f82d055-0158-1000-0000-000000000000</id>
          <parentGroupId>2f1c8f7c-0158-1000-0000-000000000000</parentGroupId>
          <comments></comments>
          <descriptors>
            <entry>
              <key>Input Buffer Size</key>
              <value>
                <name>Input Buffer Size</name>
              </value>
            </entry>
            <entry>
              <key>Max Text Message Size</key>
              <value>
                <name>Max Text Message Size</name>
              </value>
            </entry>
            <entry>
              <key>Max Binary Message Size</key>
              <value>
                <name>Max Binary Message Size</name>
              </value>
            </entry>
            <entry>
              <key>WebSocket URI</key>
              <value>
                <name>WebSocket URI</name>
              </value>
            </entry>
            <entry>
              <key>SSL Context Service</key>
              <value>
                <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                <name>SSL Context Service</name>
              </value>
            </entry>
            <entry>
              <key>Connection Timeout</key>
              <value>
                <name>Connection Timeout</name>
              </value>
            </entry>
          </descriptors>
          <name>WSClient - websocket.org</name>
          <properties>
            <entry>
              <key>Input Buffer Size</key>
              <value>4 kb</value>
            </entry>
            <entry>
              <key>Max Text Message Size</key>
              <value>64 kb</value>
            </entry>
            <entry>
              <key>Max Binary Message Size</key>
              <value>64 kb</value>
            </entry>
            <entry>
              <key>WebSocket URI</key>
              <value>ws://echo.websocket.org</value>
            </entry>
            <entry>
              <key>SSL Context Service</key>
            </entry>
            <entry>
              <key>Connection Timeout</key>
              <value>3 sec</value>
            </entry>
          </properties>
          <state>ENABLED</state>
          <type>org.apache.nifi.websocket.jetty.JettyWebSocketClient</type>
        </controllerServices>
        <processors>
          <id>2f845053-0158-1000-0000-000000000000</id>
          <parentGroupId>2f97a7b3-0158-1000-0000-000000000000</parentGroupId>
          <position>
            <x>253.85403442382812</x>
            <y>65.49118423461914</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Max Queue Size</key>
                <value>
                  <name>Max Queue Size</name>
                </value>
              </entry>
              <entry>
                <key>WebSocket Client Controller Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.websocket.WebSocketClientService</identifiesControllerService>
                  <name>WebSocket Client Controller Service</name>
                </value>
              </entry>
              <entry>
                <key>WebSocket Client Id</key>
                <value>
                  <name>WebSocket Client Id</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Max Queue Size</key>
                <value>10000</value>
              </entry>
              <entry>
                <key>WebSocket Client Controller Service</key>
                <value>2f82d055-0158-1000-0000-000000000000</value>
              </entry>
              <entry>
                <key>WebSocket Client Id</key>
                <value>client-demo</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ConnectWebSocket</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>binary message</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>connected</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>text message</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.websocket.ConnectWebSocket</type>
        </processors>
        <processors>
          <id>2f8b980f-0158-1000-0000-000000000000</id>
          <parentGroupId>2f97a7b3-0158-1000-0000-000000000000</parentGroupId>
          <position>
            <x>256.4629320473901</x>
            <y>358.26283858799604</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>WebSocket Session Id</key>
                <value>
                  <name>WebSocket Session Id</name>
                </value>
              </entry>
              <entry>
                <key>WebSocket ControllerService Id</key>
                <value>
                  <name>WebSocket ControllerService Id</name>
                </value>
              </entry>
              <entry>
                <key>WebSocket Endpoint Id</key>
                <value>
                  <name>WebSocket Endpoint Id</name>
                </value>
              </entry>
              <entry>
                <key>WebSocket Message Type</key>
                <value>
                  <name>WebSocket Message Type</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>WebSocket Session Id</key>
                <value>${websocket.session.id}</value>
              </entry>
              <entry>
                <key>WebSocket ControllerService Id</key>
                <value>${websocket.controller.service.id}</value>
              </entry>
              <entry>
                <key>WebSocket Endpoint Id</key>
                <value>${websocket.endpoint.id}</value>
              </entry>
              <entry>
                <key>WebSocket Message Type</key>
                <value>TEXT</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>3 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>PutWebSocket</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.websocket.PutWebSocket</type>
        </processors>
        <processors>
          <id>2f8c5c86-0158-1000-0000-000000000000</id>
          <parentGroupId>2f97a7b3-0158-1000-0000-000000000000</parentGroupId>
          <position>
            <x>257.1763432585148</x>
            <y>502.79530179695905</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Delete Attributes Expression</key>
                <value>
                  <name>Delete Attributes Expression</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Delete Attributes Expression</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>UpdateAttribute</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
          <id>2f8f87ab-0158-1000-0000-000000000000</id>
          <parentGroupId>2f97a7b3-0158-1000-0000-000000000000</parentGroupId>
          <position>
            <x>256.0555468172646</x>
            <y>209.43915230370425</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Regular Expression</key>
                <value>
                  <name>Regular Expression</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>
                  <name>Replacement Value</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>
                  <name>Maximum Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>
                  <name>Replacement Strategy</name>
                </value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>
                  <name>Evaluation Mode</name>
                </value>
              </entry>
            </descriptors>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Regular Expression</key>
                <value>(?s)(^.*$)</value>
              </entry>
              <entry>
                <key>Replacement Value</key>
                <value>Hello, this is NiFi!</value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Maximum Buffer Size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Replacement Strategy</key>
                <value>Prepend</value>
              </entry>
              <entry>
                <key>Evaluation Mode</key>
                <value>Entire text</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>ReplaceText</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
      </contents>
      <name>WebSocketClientExample</name>
    </processGroups>
  </snippet>
  <timestamp>11/07/2016 14:15:20 JST</timestamp>
</template>